<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="resourceLoader" class="org.springframework.core.io.DefaultResourceLoader"/>

    <bean id="csvreader" class="ru.otus.spring.davlks.service.impl.CSVResourceReaderImpl">
        <constructor-arg name="resourceLoader" ref="resourceLoader"/>
        <constructor-arg name="classpath" value="classpath:testQuiz.csv"/>
    </bean>

    <bean id="csvreaderTest" class="ru.otus.spring.davlks.service.impl.CSVResourceReaderImplTest">
        <constructor-arg name="csvResourceReader" ref="csvreader"/>
    </bean>

</beans>
