<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of comments to the book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .comments {
            border: 1px solid steelblue;
            width: 600px;
            border-collapse: collapse;
        }

        .comments tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .comments ul {
            margin: 1px;
            padding-left: 2px;
        }

        .comments td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>

<h3>Comments:</h3>

<div th:if="${#lists.isEmpty(comments)}">
    <p>No comments yet</p>
</div>

<table class="comments" th:if="${not #lists.isEmpty(comments)}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Text
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.id}">1</td>
        <td th:text="${comment.text}">It</td>
    </tr>
    </tbody>
</table>
<br>

<div class="row">
    <a href="list.html" th:href="@{/}"><button type="button">Return to books</button></a>
</div>

</body>
</html>
